<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="template.html">
<head>
    <title th:text="${pageTitle}"></title>
</head>
<body>
<section layout:fragment="custom-content">
    <div class="m-4">
        <div class="alert alert-danger">
            <h4 class="alert-heading"><i class="bi-exclamation-octagon-fill"></i>Oops! Something went wrong!</h4>
            <p>Sorry, There is some issue, Our Engineers are on it.</p>
            <hr>
            <p class="mb-0">Please check again later</p>
        </div>
    </div>
</section>
</body>
</html>