<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template.html}">
<head>
    <title>${pageTitle}</title>
</head>
<body>
<section layout:fragment="custom-content">
    <h1 th:text="${pageTitle}" />

    <form th:object="${item}" method="post" th:action="@{__${submitTarget}__}">
        <th:block th:each="field : ${templateParams.fields}">
            <input type="hidden" th:field="*{__${field.field}__}"
                   th:if="${field.type == 'HIDDEN'}"/>

            <div class="row" th:if="${field.type == 'TEXT'}">
                <label class="col-sm-2 col-form-label" th:text="${field.title}" />
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                           th:field="*{__${field.field}__}" />
                </div>
            </div>
        </th:block>

        <div class="row">
            <div class="col-sm-12">
                <a th:href="@{__${submitTarget}__}" class="btn btn-link">Back</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</section>
</body>
</html>